body {
    margin: 0;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
li a {
    display: block;
    color: #000;
    padding: 8px 8px;
    text-decoration: none;
}
  
li a.active {
    background-color: #4CAF50;
    color: white;
}
  
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


div.gallery {
  margin: 10px;
  border: 5px solid rgb(187, 194, 179);
  float: left;
  width: 200px;
  text-align: center;
  height: 500px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 180px;
  height: 180px;
}



div.desc {
  padding: 15px;
  text-align: center;
}

h2{
  margin: 0px;
  font-size: 80px;
  color:rgb(228, 43, 43);
  text-decoration: none;
  padding-bottom: 10px;
  width: 120px;
  text-align: center;
  font: oblique bold 150% cursive;
}

hr{
  float: left;
}
div.gallery h1{
  margin: 40px;
  font-size: 20px;
  color:rgb(228, 43, 43);
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding-bottom: 10px;
  border: 3px solid rgb(80, 71, 71);
  width: 120px;
  text-align: center;
  font: oblique bold 150% cursive;
}

div.gallery h1:hover{
  box-shadow: 5px 5px 20px rgba(248, 57, 57, 0.4);
  transform: translateY(-2px);
}