body h1{
    color: aliceblue;
    font-size: 15px;
    font: oblique bold 200% cursive;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}

#iniciarSesion{
    text-align: center;
}


form input{
    cursor :  text;
    margin: 10px;
    padding : 4px;
    display: block;
    
}

hr{
    height: 2px;
    border: none;
    background-color: black;
    
}

body {
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}
#iniciarSesion{
    font: 110% sans-serif;

}

#iniciarSesion a{
    font-size: 20px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding-bottom: 20px;
    
}

#iniciarSesion a:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}


#formulario{
    display: inline-block;   
}

#formulario input{
    text-align: left;
    border: red;
    border-radius: 10px;
    background-color: white;

}

#info{
    text-align: center;
    font: 100% sans-serif;
    padding: 25px 50px; 
    color:rgb(180, 179, 179);


}