body h1{
    color: aliceblue;
    font-size: 15px;
    font: oblique bold 200% cursive;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}

#visitar{
    font: oblique bold 150% cursive;
    text-decoration: none;
    
}


#registro{
    text-align: center;
}

#formularioReg{
    display: inline-block;
    font: 110% sans-serif;
    color: rgb(243, 231, 231);

}

#formularioReg a{
    display: block;
    text-decoration: none;
    color: rgb(243, 231, 231);
    margin-bottom: 10px;
    cursor: pointer;
}

#formularioReg a:hover{
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.4);
    transform: translateY(-2px)
}

form input{
    cursor :  text;
    margin: 10px;
    padding : 4px;
    display: block;
}

hr{
    height: 2px;
    border: none;
    background-color: rgb(255, 255, 255);
}

body {
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}


#registro input{
    text-align: left;
    border: red;
    border-radius: 7px;
    background-color: white;

}

#info{
    text-align: center;
    font: 100% sans-serif;
    padding: 25px 50px; 
    color:rgb(180, 179, 179);


}